<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBalance</display-name>
    <servlet-name>ViewBalance</servlet-name>
    <servlet-class>com.servlets.ViewBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalance</servlet-name>
    <url-pattern>/ViewBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Debit</display-name>
    <servlet-name>Debit</servlet-name>
    <servlet-class>com.servlets.Debit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Debit</servlet-name>
    <url-pattern>/Debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitBalance</display-name>
    <servlet-name>DebitBalance</servlet-name>
    <servlet-class>com.servlets.DebitBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitBalance</servlet-name>
    <url-pattern>/DebitBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.servlets.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditBalance</display-name>
    <servlet-name>CreditBalance</servlet-name>
    <servlet-class>com.servlets.CreditBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditBalance</servlet-name>
    <url-pattern>/CreditBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCustomers</display-name>
    <servlet-name>AllCustomers</servlet-name>
    <servlet-class>com.servlets.AllCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCustomers</servlet-name>
    <url-pattern>/AllCustomers</url-pattern>
  </servlet-mapping>
</web-app>